{%  extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/mural_detail_view.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/artist_detail_view.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/thumbnails.css')}}">
{%  endblock %}

{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="no-top-margin">
                    {{ artist.full_name }}
                    {% if artist.url %}
                        <span class="badge badge-artist-url"><a href="{{ artist.url }}">{{ artist.url.rpartition("//")[-1].partition("/")[0] }}</a></span>
                    {% endif %}
                </h1>

                {% set artist_about = artist.get_about(get_locale()) %}
                {% if artist_about %}
                    <p class="lead text-justify">
                        {{ artist_about|safe }}
                    </p>
                {% endif %}

                {% for murals_chunk in artist.murals|batch(3) %}
                    <div class="row with-margin">
                        {% for mural in murals_chunk %}
                            <div class="col-sm-4">
                                <a href="{{ url_for('main.mural', mural_id=mural.id) }}">
                                    {% set mural_name = mural.get_name(get_locale()) %}
                                    {% if mural_name %}
                                        {{ mural_name }}
                                    {% else %}
                                        &#8203;
                                    {% endif %}
                                    <div class="thumbnail no-margin" style="background-image: url('{{ url_for('static', filename='mural_img/' + mural.photos[0].file_name) }}')">
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}