@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #f2f2f2 !important;
}

.jumbotron {
    background-color: transparent !important;
}

.padding-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.with-margin {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.padding-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}