@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #f2f2f2 !important;
}

.jumbotron {
    background-color: transparent !important;
}