.with-background {
    background-color: gainsboro;
}

.with-shadow {
    bkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.mural-caption {
    color: #ffffff;
    text-align: center;
    line-height: 300px;
    font-size: x-large;
    text-decoration: none !important;
}

.thumbnail a {
    text-decoration: none !important;
}

.img-info-window {
    max-height: 320px;
}

.mural-title a {
    text-decoration: underline !important;
}

.container-map {
    margin-top: -20px;
}

