{%  extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
{%  endblock %}

{% block scripts %}
    {{ super() }}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}

{% block title %}
    {{ gettext('About') }}
{%  endblock %}

{%  block content %}
    <div class="container">
        <p class="lead">
            <strong>{{ _('Kyivmural') }}</strong> &#8212; каталог київських муралів. Це спроба зібрати в одному місці
            інформацію про стінописи в Києві, їх місцезнаходження та авторів.
        </p>

        <span class="lead">
            <strong>{{ _('FAQ') }}</strong>
        </span>
        <p class="mural-quote">
            <span class="question">
                {{ gettext('What is a mural?') }}
            </span><br>
            {{ gettext('mural_definition') }} &#8212; <a href="{{ gettext('mural_definition_link') }}">{{ gettext('Wikipedia') }}</a>
        </p>
        <p>
            <span class="question">
                Ми шукаємо художника. Ви можете порекомендувати когось?
            </span><br>
            Ні, я не можу нікого порекомендувати, тому що не маю жодного художника серед своїх знайомих.
        </p>
        <p>
            <span class="question">
                Я художник та хочу намалювати мурал.
            </span><br>
            Це добре. З огляду на те, що мені періодично надходять листи з проханням порекомендувати когось, на це є попит, тому ти маєш всі шанси реалізувати свож бажання.
        </p>
        <p class="inline">
            <span class="question">
                Я хочу долучитися до проекту.
            </span><br>
            Долучитися дуже просто
            <a href="http://flask.pocoo.org/">Flask</a>
            <a href="http://getbootstrap.com/">Bootstrap</a>
            <a href="https://github.com/grishasergei/kyivmural" class="btn btn-default btn-xs" role="button"><strong>Kyivmural on GitHub</strong></a>
        </p>
    </div>
{% endblock %}