{%  extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{%  endblock %}

{% block scripts %}
    {{ super() }}
    <script src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
    <script>
        var map = new GMaps({
            el: '#map',
            lat: 50.450487,
            lng: 30.519516,
            zoom: 12
        });

        {% for mural in murals %}
            map.addMarker({
                lat: {{ mural.lat }},
                lng: {{ mural.lng }},
                infoWindow: {
                    content:
                             '<p class="mural-title">{{ mural.get_address(get_locale()) }} <a href="{{ url_for('main.mural', mural_id=mural.id) }}"> {{ gettext('more') }}...</a></p>' +
                             '<p><img src="{{ url_for('static', filename='img/1x1.jpg') }}" class="img-info-window" id="lazy-{{ mural.id }}" data-src="{{ url_for('static', filename='mural_img/' + mural.photos[0].file_name) }}"></p>',
                    domready: (function(img_id) {
                        return function () {
                            var lazy_img = document.getElementById(img_id);
                            if (lazy_img) {
                                lazy_img.src = lazy_img.getAttribute('data-src');
                            }
                        };
                    })('lazy-{{ mural.id }}')
                }
            });
        {% endfor %}
    </script>
{% endblock %}

{%  block content %}
    {{ super() }}

    <div class="container-fluid">
        <div class="row">
            <div id="map" style="width: 100%; height: 500px"></div>
        </div>
    </div>

    <div class="container">
        <h2>Мурали Києва</h2>
        <p>
            Explore murals on streets of Kyiv. Starting from 2014 fantastic murals began to decorate narrow lanes and wide avenues in different parts of the city. 30+ walls have been decorated since that time by international street artists and more to expect. Mural fever is here to stay and it puts Kyiv on international street art map.
        </p>
        <p>
            There are {{ mural_count }} murals and {{ artist_count }} artists featured right now.
        </p>
    </div>

    <div class="container">
        <h2>Discover</h2>
        <p>
            Random
        </p>
        <div class="row with-margin">
            {% for m in random_murals %}
                <div class="col-sm-3">
                    <a href="{{ url_for('main.mural', mural_id=m.id) }}">
                        <div class="thumbnail no-margin" style="background-image: url('{{ url_for('static', filename='mural_img/' + m.photos[0].file_name) }}')">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ super() }}

{% endblock %}
